<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Appointment Management</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Athiti|Krub|Prompt&display=swap" rel="stylesheet">
</head>
<body>
    <div id="app" class="container">
        <br><br>
        <div class="row">
            <div class="col sm-8">
                <h3>Appointment Management</h3>
            </div>
            <div class="col sm-4">
                <div class="search-bar">
                    <input class="search-input" type="text" v-model="search"
                        placeholder=" ค้นหารายชื่อ" />
                </div>
            </div>
            <date-picker v-model="date" :config="options"></date-picker>
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th>start</th>
                    <th>end</th>
                    <th>title</th>
                    <th>priority</th>
                    <th>createby</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                <tr v-for="info, i in filterAppointment" v-bind:key="info._id">
                    <td>{{ info.start }}</td>
                    <td>{{ info.end }}</td>
                    <td>{{ info.title }}</td>
                    <td>{{ info.priority }}</td>
                    <td>{{ info.createby }}</td>
                    <th style="cursor:pointer" v-on:click="del(info._id)"><h3>X</h3></th>
                </tbody>
            </table>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vuejs-datepicker"></script>
    <script>
        const app = new Vue({
            el:'#app',
            data:{
                search:"",
                appointments:[]
            },
            methods: {
                async del(value) {
                    await axios.delete('http://localhost:3000/appointments/'+value)
                    const { data }= await axios.get("http://localhost:3000/appointments")
                    this.appointments = data
                    alert("delete completed")
                }
            },
            mounted:async function (){
                const { data }= await axios.get("http://localhost:3000/appointments")
                this.appointments = data
            },
            computed: {
                filterAppointment() {
                    return this.appointments.filter(data => {
                        return data.createby.toLowerCase().includes(this.search)
                    })
                }
            }
        })
    </script>
</body>
</html>